<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Narendra Modi | Narendra Modi</title>
    <link rel="stylesheet" href="PM-Modi.css" />

    <link
      rel="icon"
      type="image/ico"
      href="https://staticmain.narendramodi.in/images/favicon.ico?v=138988"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header Start -->
    <header>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-light bg-light">
        <div class="container-md">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="border: none"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <span class="modi"
            ><p>Narendra <b>Modi</b></p></span
          >
        </div>
        <div class="box">
          <span Data-hover="Download App">Download App</span>
          <img
            src="/bootstrap-demo/task-webpage/narendramodi/images/appIcon.jpg"
            alt="image"
          />
        </div>
        <div class="box1">
          <span Data-hover="Login / Register">Login / Register</span>
        </div>
        <div class="box2">
          <span Data-hover="Search">Search</span>
          <img
            src="/bootstrap-demo/task-webpage/narendramodi/images/searchIcon.jpg"
            alt="image"
          />
        </div>
        <div class="box3">
          <span Data-hover="English">English</span>
          <img
            src="/bootstrap-demo/task-webpage/narendramodi/images/langIcon.jpg"
            alt="image"
          />
        </div>
      </nav>
    </header>
    <!-- Header End -->
    <!-- carousel One Start -->
    <section class="item1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="6"
                  aria-label="Slide 7"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="7"
                  aria-label="Slide 8"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="8"
                  aria-label="Slide 9"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="9"
                  aria-label="Slide 10"
                ></button>
              </div>
              <div class="carousel-inner" style="height: 70vh">
                <div class="carousel-item active h-100">
                  <img
                    src="/bootstrap-demo/task-webpage/narendramodi/images/modi-first-slide.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      PM dedicates to the nation various development projects in
                      Gorakhpur, Uttar Pradesh
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="/bootstrap-demo/task-webpage/narendramodi/images/modi-second-slide.png"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block py-2">
                    <h6 style="color: white">
                      PM inaugurates & lays the foundation stone of various
                      projects worth around Rs 18,000 crore in Dehradun
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.79387300_1643528001_maan-ki-baat.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block py-2">
                    <h6 style="color: white">
                      This is the turning point of India's growth story: PM Modi
                      during Mann Ki Baat
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.79000400_1643361069_155x548prime-minister-narendra-modi-attends-ncc-rally-at-cariappa-ground-in-new-delhi.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      Share inspirational stories of BJP/BJS Karyakartas on
                      Kamal Pushp!
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.15752400_1632511989_website-home-page-banner.jpeg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      20 Pictures Defining 20 Years of Seva Aur Samarpan
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.74531300_1641004381_1155-548-sadasyta-2022.jpeg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Sadasyata Parv 2021</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.56483900_1622912686_merchandise.jpeg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Merchandise</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.65180300_1474895085_one-nation-one-market.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Empowering our Farmers</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.43082300_1474049286_biography.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">One Nation One Market</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.81041300_1638263273_download-page.jpeg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Biography</h6>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- carousel One End -->
    <!-- Section Two Start-->
    <section class="item2">
      <nav class="navbar-2 navbar-light bg-light">
        <div class="container-news">
          <a class="navbar-brand" href="#">
            <img
              src="/bootstrap-demo/task-webpage/narendramodi/images/NewsLetter.png"
              alt="Image"
              width="50px"
              height="40px"
            />
          </a>
          <h5>more news</h5>
        </div>
      </nav>
    </section>
    <!-- Section Two End -->

    <!-- Section Three Start -->
    <section class="item3">
      <div class="container-lg">
        <div class="row">
          <div class="col-xl-6 col-md-6 col-xxl-6">
            <span class="modi1">
              <img
                src="https://cdn.narendramodi.in/cmsuploads/0.56503900_1643437655_566x473.jpeg"
                alt=""
              />
              <div class="carousel-caption-1 d-none d-md-block">
                <h6 style="color: white">
                  Share your ideas and suggestions for 'Mann Ki Baat' now!
                </h6>
              </div>
            </span>
          </div>
          <div class="paddy">
            <span class="modi2">
              <img
                src="https://cdn.narendramodi.in/cmsuploads/0.08064400_1643871398_more-news-2.jpg"
                alt=""
                style="width: 680px; height: 250px"
              />
              <div class="carousel-caption-2 d-none d-md-block">
                <h6 style="color: white">
                  Rejuvenating Culture and Civilisation - Breathtaking Pictures
                  of the Kashi Vishwanath Dham
                </h6>
              </div>
            </span>
          </div>
          <div class="col-xl-6 col-md-3 col-xxl-3">
            <span class="modi3">
              <img
                src="https://cdn.narendramodi.in/cmsuploads/0.47544400_1644129313_more-news-3.png"
                alt=""
                style="width: 330px; height: 200px"
              />
              <div class="carousel-caption-3 d-none d-md-block">
                <h6 style="color: white">
                  PM pays last respects to Gen Bipin Rawat, his wife and other
                  &hellip;
                </h6>
              </div>
            </span>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <span class="modi4">
              <img
                src="https://cdn.narendramodi.in/cmsuploads/0.19399600_1644159076_good-governance-updates-from-social-mediamn7.jpeg"
                alt=""
                style="width: 330px; height: 200px"
              />
              <div class="carousel-caption-4 d-none d-md-block">
                <h6 style="color: white">
                  Social Media Corner 10th December 2021
                </h6>
              </div>
            </span>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Three End -->

    <!-- Section Four Start -->
    <section class="item4">
      <nav class="navbar-3 navbar-light bg-light">
        <div class="container-news">
          <a class="navbar-brand" href="#">
            <img
              src="/bootstrap-demo/task-webpage/narendramodi/images/mediaCoverageIcon.png"
              alt="Image"
              width="50px"
              height="40px"
            />
          </a>
          <h5>media coverage</h5>
        </div>
      </nav>
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators-2">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
        </div>
        <div class="carousel-inner-2" style="height: 70vh">
          <div class="carousel-item active h-75">
            <img
              src="https://cdn.narendramodi.in/cmsuploads/0.63404000_1644123935_budget-takes-a-green-turn-towards-net-zero-target.jpg"
              class="d-block w-100 h-75"
              alt="..."
            />
            <div class="carousel-caption-pk d-none d-md-block">
              <h6 style="color: #2e3192">
                PM Narendra Modi to open canal project pending for over 43 years
                in UP's Balrampur
              </h6>
            </div>
          </div>
          <div class="carousel-item h-75">
            <img
              src="https://cdn.narendramodi.in/cmsuploads/0.82586900_1644123875_2-in-3-indians-believe-union-budget-2022-will-have-positive-impact-on-economy.jpg"
              class="d-block w-100 h-75"
              alt="..."
            />
            <div class="carousel-caption-pk d-none d-md-block py-2">
              <h6 style="color: #2e3192">
                Kashi Vishwanath Corridor: Kashi gets a grand new look, Baba
                Vishwanath's prasad will reach every house
              </h6>
            </div>
          </div>
          <div class="carousel-item h-75">
            <img
              src="https://cdn.narendramodi.in/cmsuploads/0.20100300_1644207695_.jpg"
              class="d-block w-100 h-75"
              alt="..."
            />
            <div class="carousel-caption-pk d-none d-md-block py-2">
              <h6 style="color: #2e3192">
                Operation Devi Shakti: 110 Sikhs, Swaroop of Guru Granth Sahib
                being brought to India from Afghanistan
              </h6>
            </div>
          </div>
          <div class="carousel-item h-75">
            <img
              src="https://cdn.narendramodi.in/cmsuploads/0.71396200_1644207255_pm-modi-pays-last-respects-to-lata-mangeshkar-at-shivaji-park.jpg"
              class="d-block w-100 h-75"
              alt="..."
            />
            <div class="carousel-caption-pk d-none d-md-block">
              <h6 style="color: #2e3192">
                108 countries recognise Indian Covid-19 vaccination certificate
                for travel purpose: Govt
              </h6>
            </div>
          </div>
          <div class="carousel-item h-75">
            <img
              src="https://cdn.narendramodi.in/cmsuploads/0.28142700_1644209630_budgetary-allocations.jpeg"
              class="d-block w-100 h-75"
              alt="..."
            />
            <div class="carousel-caption-pk d-none d-md-block">
              <h6 style="color: #2e3192">
                Modi bats for joint efforts to shape global norms for social
                media, cryptos
              </h6>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar-4 navbar-light bg-light">
        <div class="container-news">
          <a class="navbar-brand" href="#">
            <img
              src="/bootstrap-demo/task-webpage/narendramodi/images/tuneInIcon.png"
              alt="Image"
              width="50px"
              height="40px"
            />
          </a>
          <h5>tune in</h5>
        </div>
      </nav>
      <div class="button1">Watch Live</div>
      <div class="button2">Mann Ki Baat</div>
      <div class="tunein">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/WYEyFMaef4M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <!--Section Four End-->

    <!--Section five Start-->
    <section class="item6">
      <div
        class="services-section-item-4 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/infoHome.png"
              width="67"
              height="68"
              alt=""
          /></i>
        </div> -->
        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/infoHome.png"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2>Infographics</h2>
              <p style="font-size: 10px">
                Latest schemes of Modi Government and achievements of modi
                government till date Pradhan Mantri Jeevan Jyoti Bima, National
                Health Protection Scheme,
              </p>
              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>
        <h4 class="services-item-title font-second">Infographics</h4>
      </div>
      <div
        class="services-section-item-5 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
            width="67"
            height="68"
            alt=""
            /></i>
          </div> -->

        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/speechesIcon.jpg"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2>Speeches</h2>
              <p style="font-size: 10px">
                PM Narendra Modi Speech Today - Get details about live events,
                latest speeches and speech videos on the official website of
                Shri Narendra Modi, PM of India.
              </p>
              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>
        <h4 class="services-item-title font-second">Speeches</h4>
      </div>
      <div
        class="services-section-item-6 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
            width="67"
            height="68"
            alt=""
            /></i>
          </div> -->
        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/galleryIcon.jpg"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2 style="background-color: white; margin-top: -23px">
                Gallery
              </h2>
              <br />

              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>

        <h4 class="services-item-title font-second">Gallery</h4>
      </div>
    </section>
    <!-- <section class="item6">
      <div
        class="services-section-item-4 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/infoHome.png"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">Infographics</h4>
      </div>
      <div
        class="services-section-item-5 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/speechesIcon.jpg"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">Speeches</h4>
      </div>
      <div
        class="services-section-item-6 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/galleryIcon.jpg"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">Gallery</h4>
      </div>
    </section> -->
    <!--Section five End-->

    <!--Section six Start-->
    <section class="item5">
      <div
        class="services-section-item-1 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/writeIcon.jpg"
              width="67"
              height="68"
              alt=""
              /></i>
            </div> -->
        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/writeIcon.jpg"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2>Write to the PM</h2>
              <p style="font-size: 10px">
                To know more about the modi performance or other activities he
                is performing daily. PM portal India gives information about
                other hobbies of PM modi.
              </p>
              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>

        <h4 class="services-item-title font-second">Write to the PM</h4>
      </div>
      <div
        class="services-section-item-2 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/newLatterIcon.jpg"
              width="67"
              height="68"
              alt=""
              /></i>
            </div> -->
        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/newLatterIcon.jpg"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2 style="font-size: 28px">Subscribe to Newsletter</h2>
              <p style="font-size: 10px">
                My govt in India good governance government. Good things done by
                modi government and modi performance. modi governance read mode
                all visit list.
              </p>
              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>

        <h4 class="services-item-title font-second">Subscribe to Newsletter</h4>
      </div>
      <div
        class="services-section-item-3 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <!-- <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/bookIcon.jpg"
              width="67"
              height="68"
              alt=""
              /></i>
            </div> -->

        <div class="Amol">
          <img
            src="https://staticmain.narendramodi.in/images/bookIcon.jpg"
            width="67"
            height="68"
            alt=""
          />
          <div class="overlay">
            <div class="text-ac">
              <h2>NM Library</h2>
              <p style="font-size: 10px">
                To know more about narendra modi achievements, pm site/pm portal
                India have several books about the PM. My government narendra
                modi/My PM include other related info.
              </p>
              <button class="over-btn">Read More</button>
            </div>
          </div>
        </div>

        <h4 class="services-item-title font-second">NM Library</h4>
      </div>
    </section>

    <!-- <section class="item5">
      <div
        class="services-section-item-1 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/writeIcon.jpg"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">Write to the PM</h4>
      </div>
      <div
        class="services-section-item-2 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/newLatterIcon.jpg"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">Subscribe to Newsletter</h4>
      </div>
      <div
        class="services-section-item-3 leftbgNon wow fadeInUpRight Sacle"
        style="visibility: visible; animation-name: fadeInUpRightScale"
      >
        <div class="services-section-item-icon">
          <i
            ><img
              src="https://staticmain.narendramodi.in/images/bookIcon.jpg"
              width="67"
              height="68"
              alt=""
          /></i>
        </div>
        <h4 class="services-item-title font-second">NM Library</h4>
      </div>
    </section> -->
    <!--Section six End-->
    <!--Section Seven Start-->
    <nav class="navbar-5 navbar-light bg-light">
      <div class="container-news">
        <a class="navbar-brand" href="#">
          <img
            src="/bootstrap-demo/task-webpage/narendramodi/images/governanceIcon.png"
            alt="Image"
            width="50px"
            height="40px"
          />
        </a>
        <h5>Governance</h5>
      </div>
    </nav>
    <!--Section Seven End-->
    <!--Section Eight Start-->
    <section class="item8">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="6"
                  aria-label="Slide 7"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="7"
                  aria-label="Slide 8"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="8"
                  aria-label="Slide 9"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="9"
                  aria-label="Slide 10"
                ></button>
              </div>
              <div class="carousel-inner" style="height: 70vh">
                <div class="carousel-item active h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.41208900-1570794900-0-86967100-1570794863-pm-2520at-2520public-2520meeting-2520in-2520tuensang-2520-2528102-2529.JPG"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      PM dedicates to the nation various development projects in
                      Gorakhpur, Uttar Pradesh
                    </h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.43304100-1570795960-0-45329100-1570795945-pm-2520meets-2520nagaland-2520gb-2520federation-2520-252819-2529.JPG"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block py-2">
                    <h6 style="color: white">
                      PM inaugurates & lays the foundation stone of various
                      projects worth around Rs 18,000 crore in Dehradun
                    </h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.30116700_1570796622_636-400-new-honouring-india-s-greats.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block py-2">
                    <h6 style="color: white">
                      This is the turning point of India's growth story: PM Modi
                      during Mann Ki Baat
                    </h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.85712500-1570802589-0-75568800-1570802575-pm-2520interactes-2520with-2520divyang-2520people-2520in-2520varanasi-2520-252835-2529.JPG"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      Share inspirational stories of BJP/BJS Karyakartas on
                      Kamal Pushp!
                    </h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.86204600-1570797082-0-93894300-1570797064-pm-2520interacts-2520with-2520anganwadi-2520-2526-2520asha-2520workers-2520-252823-2529.JPG"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">
                      20 Pictures Defining 20 Years of Seva Aur Samarpan
                    </h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.50845300_1570800974_new-pm-narendra-modi-working-for-a-surakshit-bharat-for-women.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Sadasyata Parv 2021</h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.17256200-1570800425-0-37143500-1570800407-public-2520at-2520national-2520youth-2520parliament-2520festival-25202019-2520-252812-2529.JPG"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Merchandise</h6>
                  </div> -->
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.63712000_1593782471_india-is-strengthening-friendships-across-the-globe-under-pm-modi.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Empowering our Farmers</h6>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section Eight End-->
    <!--Section Nine Start-->
    <section class="item9">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <nav class="navbar-6 navbar-light bg-light">
              <div class="container-news">
                <a class="navbar-brand" href="#">
                  <img
                    src="/bootstrap-demo/task-webpage/narendramodi/images/GovernanceIcon-1.png"
                    alt="Image"
                    width="50px"
                    height="40px"
                  />
                </a>
                <h5>Global recognition</h5>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--Section Nine End-->
    <!--Section Tenth Start-->
    <section class="item10">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="6"
                  aria-label="Slide 7"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="7"
                  aria-label="Slide 8"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="8"
                  aria-label="Slide 9"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="9"
                  aria-label="Slide 10"
                ></button>
              </div>
              <div class="carousel-inner" style="height: 70vh">
                <div class="carousel-item active h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.58587200-1499678277-0-83517900-1499678254-pm-2520at-2520launch-2520of-2520south-2520asian-2520satellite-2520-25285-2529.JPG"
                    class="d-block w-100 h-80"
                    alt="..."
                  />
                  <div class="carousel-caption-global d-none d-md-block">
                    <h6 style="color: #2e3192">Taking cooperation to space!</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.29257000_1482760911_leading-agencies-give-thumps-up.jpg"
                    class="d-block w-100 h-80"
                    alt="..."
                  />
                  <div class="carousel-caption-global d-none d-md-block">
                    <h6 style="color: #2e3192">
                      Leading agencies with thumbs-up to NDA Government
                    </h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.33468100_1482760257_in-humanity-we-trust.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-global d-none d-md-block">
                    <h6 style="color: #2e3192">In humanity we trust</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.72540800_1482760634_engaging-with-neighbours.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-global d-none d-md-block">
                    <h6 style="color: #2e3192">Engaging with neighbours</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.85454000_1482760457_connecting-with-indian-diaspora.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-global d-none d-md-block">
                    <h6 style="color: #2e3192">Connecting with the diaspora</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.66516600-1464096378-making-indias-voice-count.jpg"
                    class="d-block w-100 h-80"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Sadasyata Parv 2021</h6>
                  </div>
                </div>
                <!-- </div>
                <div class="carousel-item h-100">
                  <img
                    src="/Bootstrap-demo/Images/Narendra Modi/Governance-7.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  /> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Merchandise</h6>
                  </div> -->
                <!-- </div>
                <div class="carousel-item h-100">
                  <img
                    src="/Bootstrap-demo/Images/Narendra Modi/Governance-8.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  /> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Empowering our Farmers</h6>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section Tenth End-->
    <!--Section Eleven Start-->
    <section class="item11">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <nav class="navbar-7 navbar-light bg-light">
              <div class="container-news">
                <a class="navbar-brand" href="#">
                  <img
                    src="/bootstrap-demo/task-webpage/narendramodi/images/flightIcon.jpg"
                    alt="Image"
                    width="50px"
                    height="40px"
                  />
                </a>
                <h5>International visits & summits</h5>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--Section Eleven End-->
    <!--Section Twelve Start-->
    <section class="item12">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="6"
                  aria-label="Slide 7"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="7"
                  aria-label="Slide 8"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="8"
                  aria-label="Slide 9"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="9"
                  aria-label="Slide 10"
                ></button>
              </div>
              <div class="carousel-inner-paddy" style="height: 70vh">
                <div class="carousel-item active h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.69989200_1635817308_lkm-7978-01.jpeg"
                    class="d-block w-100 h-80"
                    alt="..."
                  />
                  <div class="carousel-caption-summits d-none d-md-block">
                    <h6 style="color: #2e3192">COP 26</h6>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.22202100_1635592170_636x400-pm-modi-family-photo.png"
                    class="d-block w-100 h-80"
                    alt="..."
                  />
                  <div class="carousel-caption-summits d-none d-md-block">
                    <h6 style="color: #2e3192">G20 SUMMIT</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.81493900_1632513414_modiinusa.jpg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-summits d-none d-md-block">
                    <h6 style="color: #2e3192">Modi In USA</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.46202000_1631869333_636x400.jpeg"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-summits d-none d-md-block">
                    <h6 style="color: #2e3192">SCO Summit</h6>
                  </div>
                </div>
                <div class="carousel-item h-80">
                  <img
                    src="https://cdn.narendramodi.in/cmsuploads/0.45977000_1631248707_brics-636-400.png"
                    class="d-block w-100 h-100"
                    alt="..."
                  />
                  <div class="carousel-caption-summits d-none d-md-block">
                    <h6 style="color: #2e3192">BRICS Summit 2021</h6>
                  </div>
                </div>
                <!--<div class="carousel-item h-100">
                  <img
                    src="/Bootstrap-demo/Images/Narendra Modi/Governance-6.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  /> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Sadasyata Parv 2021</h6>
                  </div> -->
                <!-- </div>
                <div class="carousel-item h-100">
                  <img
                    src="/Bootstrap-demo/Images/Narendra Modi/Governance-7.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  /> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Merchandise</h6>
                  </div> -->
                <!-- </div>
                <div class="carousel-item h-100">
                  <img
                    src="/Bootstrap-demo/Images/Narendra Modi/Governance-8.webp"
                    class="d-block w-100 h-100"
                    alt="..."
                  /> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h6 style="color: white">Empowering our Farmers</h6>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section Twelve End-->
    <!--Section Thirteen Start-->
    <section class="item13">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex">
              <div class="footer">
                <p><strong style="color: #2e3192">Home</strong></p>
                <ul class="list-unstyled">
                  <li>Login</li>
                  <li>Register</li>
                  <li>Subscribe</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">ABOUT NM</strong></p>
                <ul class="list-unstyled">
                  <li>Biography</li>
                  <li>BJP Connect</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">NEWS</strong></p>
                <ul class="list-unstyled">
                  <li>News Updates</li>
                  <li>Media Coverage</li>
                  <li>Reflections</li>
                  <li>Newsletter</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">TUNE IN</strong></p>
                <ul class="list-unstyled">
                  <li>Mann Ki Baat</li>
                  <li>Watch Live</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">GOVERNANCE</strong></p>
                <ul class="list-unstyled">
                  <li>Vikas Yatra</li>
                  <li>Governance Paradigm</li>
                  <li>Global Recognition</li>
                  <li>Infographics</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">CATEGORIES</strong></p>
                <ul class="list-unstyled">
                  <li>International</li>
                  <li>One Year</li>
                  <li>Two Year</li>
                  <li>Action & Hope</li>
                  <li>Kashi Vikas Yatra</li>
                  <li>International Day Of Yoga</li>
                </ul>
              </div>
              <div class="footer">
                <p><strong style="color: #2e3192">NM THOUGHTS</strong></p>
                <ul class="list-unstyled">
                  <li>Quotes</li>
                  <li>Speeches</li>
                  <li>Text Speeches</li>
                  <li>Interviews</li>
                  <li>Timeline</li>
                  <li>Blog</li>
                </ul>
              </div>
              <div class="footer8">
                <p><strong style="color: #2e3192">NM LIBRARY</strong></p>
                <ul class="list-unstyled">
                  <li>Ebooks</li>
                  <li>Poet & Author</li>
                  <li>Stalwarts</li>
                  <li>E-Greetings</li>
                </ul>
              </div>
              <div class="icon">
                <ul class="social-icon">
                  <h4>Connect with the PM</h4>

                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-youtube"></i></li>
                  <li><i class="fab fa-linkedin-in"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!--Section Thirteen End-->
  </body>
</html>
