<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Jaguar India: Luxury Sedans, Sports Cars & SUVs - Best in Class &
      Technology
    </title>
    <link rel="stylesheet" href="jaguar.css" />
    <link
      rel="icon"
      href="/bootstrap-demo/task-webpage/jaguar/images/icon-j.png"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <!-- header start -->
    <header>
      <nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img
              src="/bootstrap-demo/task-webpage/jaguar/images/logo-jaguar.webp"
              alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: black">vehicles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: black">purchase</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: black">owners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: black">explore</a>
              </li>
            </ul>
          </div>
          <div class="icon-right">
            <a href="#"> <i class="fas fa-search"></i></a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i></a>
          </div>
        </div>
      </nav>
    </header>
    <!-- header end -->
    <!-- carasouel one start -->
    <section class="one">
      <div class="container-fluid carasouel-one p-0">
        <!-- Carousel -->
        <div
          id="myCarousel"
          class="carousel carousel-light slide"
          data-bs-ride="carousel"
        >
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              style="width: 15px; height: 15px; border-radius: 100%"
            ></li>
            <li
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              style="width: 15px; height: 15px; border-radius: 100%"
            ></li>
            <li
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              style="width: 15px; height: 15px; border-radius: 100%"
            ></li>
            <li
              data-bs-target="#myCarousel"
              data-bs-slide-to="3"
              style="width: 15px; height: 15px; border-radius: 100%"
            ></li>
          </ol>

          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/bootstrap-demo/task-webpage/jaguar/images/jaguar-f-type.webp"
                class="d-block w-100"
                alt="Slide 1"
              />
              <div class="carousel-caption d-md-block" id="one">
                <h2 class="car1">JAGUAR F-TYPE</h2>
                <p id="car1">Pulse quickening, pure Jaguar sports car</p>
                <span class="btn1"
                  ><i
                    class="fas fa-long-arrow-alt-right"
                    style="margin-right: 10px"
                  ></i
                  >EXPLORE JAGUAR F-TYPE</span
                >
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/bootstrap-demo/task-webpage/jaguar/images/semiconductor-car.webp"
                class="d-block w-100"
                alt="Slide 2"
              />
              <div class="carousel-caption d-md-block" id="second">
                <h2 class="car2">SEMICONDUCTOR SUPPLY IMPACTS CAR INDUSTRY</h2>
                <p id="car2">Delivery times extended.</p>
                <span class="btn2"
                  ><i
                    class="fas fa-long-arrow-alt-right"
                    style="margin-right: 10px"
                  ></i
                  >SECURE YOUR ORDER NOW</span
                >
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/bootstrap-demo/task-webpage/jaguar/images/jaguar-i-pace.jpg"
                class="d-block w-100"
                alt="Slide 3"
              />
              <div class="carousel-caption d-md-block" id="third">
                <h2 class="car3">JAGUAR I-PACE BLACK</h2>
                <p id="car3">
                  Introducing Jaguars first all-electric <br />
                  performance SUV.
                </p>
                <span class="btn3"
                  ><i
                    class="fas fa-long-arrow-alt-right"
                    style="margin-right: 10px"
                  ></i
                  >EXPLORE THIS VEHICLE</span
                >
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/bootstrap-demo/task-webpage/jaguar/images/new-jaguar.webp"
                class="d-block w-100"
                alt="Slide 3"
              />
              <div class="carousel-caption d-md-block" id="forth">
                <h2 class="car4">
                  NEW JAGUAR F-PACE.<br />
                  NOW IN INDIA.
                </h2>
                <p id="car4">
                  With a more assertive exterior, all-new luxurious interiors
                  and the latest generation Pivi Pro infotainment system, New
                  F-PACE is easy on the eye, hard to forget.
                </p>
                <span class="btn4"
                  ><i
                    class="fas fa-long-arrow-alt-right"
                    style="margin-right: 10px"
                  ></i
                  >FIND OUT MORE</span
                >
              </div>
            </div>
          </div>

          <!-- Carousel controls -->
          <a
            class="carousel-control-prev"
            href="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a
            class="carousel-control-next"
            href="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </section>
    <!-- carasouel one end -->
    <!-- carasouel two start -->
    <section>
      <div class="container-fluid carasouel-two">
        <div class="row" style="margin: auto 20px">
          <!-- Carousel -->

          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>
            <div class="carousel-inner">
              <h1 class="heading">STAY CONNECTED WITH JAGUAR</h1>
              <h6 class="small-heading">
                Get all the latest updates from the Jaguar family, as they
                happen
              </h6>
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-12 m-1">
                    <div class="card-group">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car3.jpg"
                        alt="Los Angeles"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car7.jpg"
                        alt="Chicago"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car8.jpg"
                        alt="Chicago"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car9.jpg"
                        alt="Chicago"
                        style="width: 24%"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12 m-1">
                    <div class="card-group">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car10.jpg"
                        alt="Los Angeles"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car12.jpg"
                        alt="Chicago"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car11.jpg"
                        alt="Chicago"
                        style="width: 24%"
                      />
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/car13.webp"
                        alt="Chicago"
                        style="width: 24%"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button> -->
          </div>
        </div>
      </div>
    </section>
    <!-- carasouel two end -->

    <!-- our vehicles start -->
    <section>
      <div class="container-fluid carasouel-three">
        <h1 class="heading1">OUR VEHICLES</h1>
        <div class="row" style="margin: auto 40px">
          <div class="card-group">
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/f-pace.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR F-PACE</h5>
                <p class="card-text">
                  Luxury performance SUV offering practicality and efficiency
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR F-PACE
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUILD YOUR OWN
                </h4>
              </div>
            </div>
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/i-pace.jpg"
                  class="card-img-top"
                  alt="..."
                  style="height: 252px; object-fit: cover"
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR I-PACE</h5>
                <p class="card-text">
                  Introducing Jaguar’s first all-electric performance SUV.
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR I-PACE
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUILD YOUR OWN
                </h4>
              </div>
            </div>
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/f-type1.jpg"
                  class="card-img-top"
                  alt="..."
                  style="height: 252px; object-fit: cover"
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR F‑TYPE</h5>
                <p class="card-text">
                  Pulse-quickening, pure Jaguar sports car.
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR F-TYPE
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUILD YOUR OWN
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: auto 40px">
          <div class="card-group">
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/xe-type.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR XE</h5>
                <p class="card-text">
                  The most advanced, efficient and refined sports saloon that
                  Jaguar has ever.
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR XE
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUY NOW
                </h4>
              </div>
            </div>
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/xf-type.jpg"
                  class="card-img-top"
                  alt="..."
                  style="height: 252px; object-fit: cover"
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR XF</h5>
                <p class="card-text">
                  Luxury business saloon with distinctive design, dynamic drive
                  and state.
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR XF
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUILD YOUR OWN
                </h4>
              </div>
            </div>
            <div class="card m-2" style="border: none">
              <div class="col">
                <img
                  src="/bootstrap-demo/task-webpage/jaguar/images/xj11.jpg"
                  class="card-img-top"
                  alt="..."
                  style="height: 252px; object-fit: cover"
                />
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">JAGUAR XJ</h5>
                <p class="card-text">
                  Luxury, performance and capability taken to new levels to
                  create unique.
                </p>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>EXPLORE JAGUAR XJ
                </h4>
                <h4 class="card-foot1">
                  <i class="fal fa-angle-right"></i>BUILD YOUR OWN
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our vehicles end -->

    <!-- carousel slide third start-->

    <section>
      <div class="container-fluid carasouel-four p-0">
        <h1 class="heading2">FIND OUT MORE</h1>
        <div class="row" style="margin: auto 40px">
          <div
            id="myCarousel1"
            class="carousel carousel-light slide"
            data-bs-ride="carousel"
          >
            <!-- Carousel indicators -->
            <ol
              class="carousel-indicators"
              style="margin-bottom: -70px; margin-left: -1000px"
            >
              <li
                data-bs-target="#myCarousel1"
                data-bs-slide-to="0"
                class="active"
                style="
                  width: 15px;
                  height: 15px;
                  border-radius: 100%;
                  background-color: black;
                "
              ></li>
              <li
                data-bs-target="#myCarousel1"
                data-bs-slide-to="1"
                style="
                  width: 15px;
                  height: 15px;
                  border-radius: 100%;
                  background-color: black;
                "
              ></li>
              <li
                data-bs-target="#myCarousel1"
                data-bs-slide-to="2"
                style="
                  width: 15px;
                  height: 15px;
                  border-radius: 100%;
                  background-color: black;
                "
              ></li>
            </ol>

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-group">
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/electric.webp"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">GOING ELECTRIC WITH JAGUAR</h5>
                      <p class="card-text">
                        Experience Jaguar's world of electrifying performance.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/service.webp"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">BOOK A SERVICE ONLINE</h5>
                      <p class="card-text">
                        You can now book a service for your Jaguar online. With
                        a range of service, pricing and location options
                        available, we’ve made service booking quick and easy.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/electric-i.jpg"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        ALL-ELECTRIC JAGUAR I-PACE LAUNCH
                      </h5>
                      <p class="card-text">
                        Here's what owners of the Jaguar I-PACE have to say
                        about their experience with the electric vehicle.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-group">
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/electric-i1.webp"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        JAGUAR’S ELECTRIC I-PACE IS GERMANY’S CAR OF THE YEAR
                      </h5>
                      <p class="card-text">
                        The Jaguar I-PACE electric performance SUV has won the
                        2019 German Car of the Year Award.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/land-rover.webp"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        JAGUAR LAND ROVER INAUGURATES A NEW RETAILER SHOWROOM IN
                        CHENNAI­­
                      </h5>
                      <p class="card-text">
                        Jaguar Land Rover India today announced the opening of a
                        new Retailer showroom in Chennai by VST Grandeur.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/f-type-new.webp"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        BOOKINGS OPENED FOR NEW JAGUAR F-TYPE R-DYNAMIC BLACK
                        MODEL
                      </h5>
                      <p class="card-text">
                        Jaguar Land Rover India, today announced that bookings
                        have been opened for the new Jaguar F-TYPE R-Dynamic
                        Black in India.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-group">
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/f-pace-svr.webp"
                        class="card-img-top"
                        alt="..."
                      />
                      <!-- <div class="overlay">
                        <div class="text"></div>
                      </div> -->
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        BOOKINGS OPENED FOR NEW JAGUAR F-PACE SVR: FASTER, MORE
                        LUXURIOUS AND MORE REFINED THAN EVER
                      </h5>
                      <p class="card-text">
                        Jaguar Land Rover India, today announced that the
                        bookings have been opened for the new Jaguar F-PACE SVR
                        in India.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/xe-sv.webp"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <!-- <div class="overlay">
                        <div class="text"></div>
                      </div> -->
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        JAGUAR XE SV PROJECT 8, THE WORLD’S FASTEST SALOON CAR,
                        BEATS ITS OWN NÜRBURGRING NORDSCHLEIFE RECORD
                      </h5>
                      <p class="card-text">
                        The Jaguar Special Vehicle Operations-developed XE SV
                        Project 8 has demonstrated its breadth of performance
                        Nordschleife lap time for a four-door production.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                  <div
                    class="card m-2"
                    style="border: none; background-color: transparent"
                  >
                    <div class="col">
                      <img
                        src="/bootstrap-demo/task-webpage/jaguar/images/land-rover-1.webp"
                        class="card-img-top"
                        alt="..."
                        style="height: 268px; object-fit: cover"
                      />
                      <!-- <div class="overlay">
                        <div class="text"></div>
                      </div> -->
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        JAGUAR LAND ROVER INAUGURATES ITS FIRST BOUTIQUE
                        SHOWROOM IN INDIA AT BENGALURU
                      </h5>
                      <p class="card-text">
                        Jaguar Land Rover India today announced the opening of
                        its new boutique showroom by Marqland at Cunningham Road
                        in Bengaluru.
                      </p>
                      <h4 class="card-foot1">
                        <i class="fal fa-angle-right"></i>FIND OUT MORE
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel controls -->
            <a
              class="carousel-control-prev"
              href="#myCarousel1"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                style="width: 100px; height: 50px"
              ></span>
            </a>
            <a
              class="carousel-control-next"
              href="#myCarousel1"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                style="width: 100px; height: 50px"
              ></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- carousel slide third end -->

    <!-- cards start  -->
    <section>
      <div class="container-fluid foot-card">
        <div class="row">
          <div class="template">
            <div class="card-group">
              <div class="card" style="border-left: none; border-top: none">
                <span class="icon1"
                  ><ion-icon name="car-outline"></ion-icon
                ></span>
                <div class="card-body">
                  <h5 class="card-title11">
                    <i class="fal fa-chevron-right"></i>COMPARE OUR VEHICLES
                  </h5>
                  <p class="card-text11">
                    Select up to three Jaguar vehicles and compare them side by
                    side
                  </p>
                </div>
              </div>
              <div class="card" style="border-top: none">
                <span class="icon1"
                  ><ion-icon name="car-sport-outline"></ion-icon
                ></span>
                <div class="card-body">
                  <h5 class="card-title11">
                    <i class="fal fa-chevron-right"></i>BOOK ONLINE
                  </h5>
                  <p class="card-text11">Book your Jaguar Online</p>
                </div>
              </div>
              <div class="card" style="border-top: none">
                <span class="icon1"
                  ><ion-icon name="book-outline"></ion-icon
                ></span>
                <div class="card-body">
                  <h5 class="card-title11">
                    <i class="fal fa-chevron-right"></i>DOWNLOAD A BROCHURE
                  </h5>
                  <p class="card-text11">
                    View and download the latest Jaguar brochures
                  </p>
                </div>
              </div>
              <div class="card" style="border-right: none; border-top: none">
                <span class="icon1"
                  ><ion-icon name="invert-mode-outline"></ion-icon
                ></span>
                <div class="card-body">
                  <h5 class="card-title11">
                    <i class="fal fa-chevron-right"></i>BOOK A TEST DRIVE
                  </h5>
                  <p class="card-text11">
                    Arrange a test drive through your local Jaguar Retailer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- cards end  -->
    <!-- footer start  -->

    <section>
      <!-- <div class="container-fluid foot-card2">
        <div class="row content">
          <ul>
            <label>About Us</label>
            <li>Board of Directors</li>
            <li>Code of Conduct</li>
            <li>Committees of the Board</li>
            <li>Management Council</li>
            <li>Sustainability</li>
            <li>Manufacturing</li>
            <li>Milestones and Awards</li>
            <li>Our Credo</li>
            <li>Our History</li>
            <li>Quality</li>
            <label class="labels">Our Presence</label>
            <li>Australia</li>
            <li>Europe</li>
            <li>Kenya</li>
            <li>Malaysia</li>
            <li>Morocco</li>
            <li>Nepal</li>
            <li>South Africa</li>
            <li>Sri Lanka</li>
            <li>Uganda</li>
            <li>United Kingdom</li>
            <li>USA</li>
          </ul>

          <ul>
            <label>Our Therapies</label>
            <li>Respiratory</li>
            <li>Asthma</li>
            <li>Paediatric Asthma</li>
            <li>COPD</li>
            <li>Nebulization</li>
            <li>HIV/AIDS</li>
            <li>Oncology</li>
            <li>Our Offerings</li>
            <li>OTC - Cipla Health</li>
            <li>Cipla Diagnostics</li>
            <li>API</li>
            <label class="labels">Media Center</label>
            <li>Media Releases</li>
            <li>In The News</li>
          </ul>

          <ul>
            <label>Investor</label>
            <li>Quarterly Results</li>
            <li>Investor Presentation</li>
            <li>Annual Reports</li>
            <li>Corporate Governance</li>
            <li>Board Of Directors</li>
            <li>Committees of the Board</li>
            <li>Investor Resources</li>
            <li>Shareholding Pattern</li>
            <li>Intimation to stock Exchanges</li>
            <li>Unclaimed Data</li>
            <li>Investor Contact</li>
            <li>Disclaimer</li>
          </ul>

          <ul>
            <label>Corporate Social Responsibility</label>
            <li>CSR Policy</li>
            <li>CSR Committee</li>
            <li>Cipla Foundation</li>
            <li>Annual Report 2019-20</li>
            <li>Covid Response</li>
            <li>Cipla Palliative Care & Training Centre Career Sitemap</li>
            <label class="labels">Careers</label>
            <li>Culture and Values</li>
            <li>Life at Cipla</li>
          </ul>

          <ul>
            <li>Privacy Policy</li>
            <li>Disclaimer</li>
            <li>Contact Us</li>
            <li>Sitemap</li>
            <li>Caution Notice - Recruitment Fraud</li>
            <li>Drug Safety Reporting</li>
            <label class="labels">Related Links</label>
            <li>breathefree.com</li>
            <li>ciplamed.com</li>
            <li>ciplapalliativecare.org</li>
            <li>Remdesivir Supply Details - Maharashtra</li>
          </ul>
          <div class="footer2">
            <span class="copy"
              >© Copyright 2019 Cipla Inc. All rights reserved</span
            >
            <span
              ><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i
              ><i class="fab fa-twitter"></i><i class="fab fa-youtube"></i
              ><i class="fab fa-linkedin-in"></i
            ></span>
          </div>
        </div>
      </div> -->
      <div class="container-fluid foot-card2">
        <div class="row">
          <div class="col-12">
            <footer>
              <ul>
                <label>OUR JAGUAR VEHICLES</label>
                <li>JAGUAR F-PACE</li>
                <li>JAGUAR F‑TYPE</li>
                <li>JAGUAR XE</li>
                <li>JAGUAR XF</li>
                <li>JAGUAR XJ</li>
                <li>SPECIAL VEHICLE OPERATIONS</li>
                <li>COMPARE</li>
              </ul>

              <ul>
                <label>RESEARCH</label>
                <li>DOWNLOAD A BROCHURE</li>
                <li>EXPLORE OUR RANGE</li>
                <li>REVIEWS</li>
                <li>GLOSSARY</li>

                <label class="labels">PRICE AND OFFERS</label>
                <li>JAGUAR FINANCIAL SERVICES</li>
                <li>BUILD YOUR OWN</li>
                <li>VIEW PRICES</li>

                <label class="labels">FLEET & BUSINESS</label>
                <li>FLEET & BUSINESS: OVERVIEW</li>
                <li>FLEET & BUSINESS: OUR APPROACH</li>
                <li>FLEET & BUSINESS: OUR VEHICLES</li>
                <li>FLEET & BUSINESS: CONTACT US</li>
              </ul>

              <ul>
                <label>OWNERSHIP</label>
                <li>OVERVIEW</li>
                <li>INCONTROL</li>
                <li>MOBILITY SERVICES</li>
                <li>FIND ME A CAR</li>
                <li>ACCESSORIES</li>

                <label class="labels">SERVICE AND MAINTENANCE</label>
                <li>OVERVIEW</li>
                <li>GUIDES AND MANUALS</li>
                <li>DIESEL PARTICULATE FILTER</li>

                <label class="labels">ASSISTANCE</label>
                <li>ROADSIDE ASSISTANCE</li>
                <li>CONTACT JAGUAR</li>
                <li>FIND A RETAILER</li>
                <li>INCONTROL ASSISTANCE</li>
              </ul>

              <ul>
                <label>ABOUT JAGUAR</label>

                <li>OVERVIEW</li>
                <li>JAGUAR NEWS</li>
                <li>JAGUAR CLASSIC</li>
                <li>JAGUAR TCS RACING</li>
                <li>JAGUAR LAND ROVER CSR</li>

                <label class="labels">JAGUAR EXPERIENCES</label>
                <li>OVERVIEW</li>
                <li>JAGUAR EXPERIENCES TOUR</li>
                <label class="labels">INNOVATION AND TECHNOLOGY</label>

                <li>INCONTROL</li>
                <li>ELECTRIFICATION</li>
                <li>SPECIAL VEHICLE OPERATIONS</li>
              </ul>
              <ul>
                <label>JOIN THE CONVERSATION</label>
                <li class="social">
                  <span class="face"><i class="fab fa-facebook-f"></i></span>
                  FACEBOOK
                </li>
                <li class="social">
                  <span class="tweet"><i class="fab fa-twitter"></i></span>
                  TWITTER
                </li>
                <li class="social">
                  <span class="youtube"><i class="fab fa-youtube"></i></span>
                  YOUTUBE
                </li>
                <li class="social">
                  <span class="insta"><i class="fab fa-instagram"></i></span>
                  INSTAGRAM
                </li>
                <li class="social">
                  <span class="link"><i class="fab fa-linkedin-in"></i></span>
                  LINKEDIN
                </li>
              </ul>
            </footer>
          </div>
        </div>
      </div>
    </section>
    <section class="social-media">
      <div class="container-fluid">
        <h5 class="join">JOIN THE CONVERSATION</h5>

        <ul>
          <li class="social">
            <span class="face"><i class="fab fa-facebook-f"></i></span>
          </li>
          <li class="social">
            <span class="tweet"><i class="fab fa-twitter"></i></span>
          </li>
          <li class="social">
            <span class="youtube"><i class="fab fa-youtube"></i></span>
          </li>
          <li class="social">
            <span class="insta"><i class="fab fa-instagram"></i></span>
          </li>
          <li class="social">
            <span class="link"><i class="fab fa-linkedin-in"></i></span>
          </li>
        </ul>
      </div>
    </section>
    <!-- footer end  -->
    <section>
      <div class="container-fluid india">
        <div class="row">
          <ul class="india2">
            <label
              ><img
                src="/bootstrap-demo/task-webpage/jaguar/images/flag-india.png"
                alt=""
                style="width: 25px; margin-right: 6px"
            /></label>
            <label class="arrow">
              INDIA<i class="fas fa-chevron-up" style="margin: auto 5px"></i
            ></label>
            <label class="india3">CAREERS</label>
            <label class="india3">TERMS & CONDITIONS</label>
            <label class="india3">PRIVACY POLICY</label>
            <label class="india3">SITEMAP</label>
            <label class="india3">JAGUAR LAND ROVER CORPORATE</label>
          </ul>
        </div>
      </div>
    </section>
    <!-- footer para start  -->

    <section>
      <div class="container last-para">
        <div class="para">
          © JAGUAR LAND ROVER LIMITED 2022
          <br />
          <br />
          Registered Office: Abbey Road, Whitley, Coventry CV3 4LF
          <br />
          Registered in England No: 1672070
          <br />
          <br />
          There is currently a global shortage of semi-conductor components.
          Jaguar Land Rover India Limited (JLRIL) is&nbsp;affected by this
          shortage and as a result, certain Jaguar and Land Rover products may
          not be available and&nbsp;delivery timelines for some products may be
          extended by&nbsp;authorised&nbsp;Jaguar Land Rover Retailers.
          Please&nbsp;contact your&nbsp;authorised&nbsp;Jaguar Land Rover
          Retailer for further updates.
          <br />
          <br />
          The fuel consumption figures provided are as a result of official
          manufacturer's tests in accordance with EU legislation.
          <br />
          A vehicle's actual fuel consumption may differ from that achieved in
          such tests and these figures are for comparative purposes only.
          <br />
          <br />
          <strong>Important note on imagery &amp; specification.</strong
          >&nbsp;We are living through exceptional times. Due to the Covid
          pandemic we have been prevented or delayed in the creation of new
          images of current model years. Now the global impact of micro-chip
          shortages is further affecting build specifications, options and
          launch timings. Until this unique event settles, please note that many
          images cannot be updated to 23 model year specifications. Features,
          options, trim and colour schemes will differ from many images.
          Customers are urged to consult your local Retailer for detailed 23
          model year specifications and do not base an order on marketing
          imagery and specification alone.
          <br />
          <br />
          The information, specification, engines and colours on this website
          are based on European specification and may vary from market to market
          and are subject to change without notice. Some vehicles are shown with
          optional equipment and retailer-fit accessories that may not be
          available in all markets. Please contact your local retailer for local
          availability and prices.
        </div>
      </div>
    </section>
    <!-- footer para  end -->
  </body>
</html>
